<section class="ngxtools-palette-warn">
  <form [formGroup]="searchForm" class="ngxtools-palette-primary-border ngxtools-palette-primary-text">
    <input (keydown.enter)="noop($event)" aria-label="Enter your search query" class="input__search ngxtools-palette-accent-text" formControlName="query" placeholder="search packages...">
    <button class="button__clear ngxtools-palette-accent-text" mat-button [hidden]="!searchForm.controls.query.value" mat-icon-button
      aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </form>
  <p class="algolia-credits">Real-time search
    <a href="https://www.algolia.com" target="__blank">
      <img width="55" src="https://www.algolia.com/static_assets/images/press/downloads/algolia-logo-light.png" alt="algolia logo"
      />
    </a>
  </p>
</section>

<section class="ngxtools-palette-primary search-result" #resultContainerRef>
  <app-search-result [packages]="packages"></app-search-result>
</section>