section {
  width: 100%;
  text-align: center;
  padding: 40px 0 0;
  min-height: 100px;
}

.control-filters__shrink {
  padding: 5px 0;
  min-height: 50px;
  margin-top: -80px;
}

.no-package-found {
  background-image: url(/assets/no_packages_found.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

form {
  font-size: 1.5em;
  width: 90vw;
  max-width: 900px;
  margin: 30px auto 80px auto;
  padding: 0;
  border-bottom: 3px solid;
  position: relative;
  display: flex;
  align-items: baseline;
}

.input__search {
  padding: 10px 40px 10px 10px;
  border: 0 none;
  font-size: 1.1em;
  background: transparent;
  min-width: 300px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  outline: none;
}

::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}

.button__clear {
  position: absolute;
  right: -2px;
  top: 8px;
}

.button__clear[hidden] {
  visibility: hidden;
}

.search-result {
  height: 100%;
  padding: 40px 0;
  min-height: 100px;
}

.algolia-credits {
  position: relative;
  top: 37px;
}
@media (max-width: 420px) {
  .algolia-credits {
    top: 37px;
    right: 30px;
  }
}

.mat-select {
  width: 180px;
}

.mat-button-toggle-group {
  margin: 5px;
}