section {
  width: 100%;
  height: 140px;
  text-align: center;
  padding: 40px 0 0;
  min-height: 100px;
}

.no-package-found {
  background-image: url(/assets/no_packages_found.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

form {
  font-size: 1.5em;
  width: 90vw;
  max-width: 900px;
  margin: 30px auto 80px auto;
  padding: 0;
  border-bottom: 3px solid;
  position: relative;
}

.input__search {
  padding: 10px 40px 10px 10px;
  border: 0 none;
  font-size: 1.1em;
  background: transparent;
  min-width: 300px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

.button__clear {
  position: absolute;
  right: -2px;
  top: 8px;
}

.button__clear[hidden] {
  visibility: hidden;
}

.search-result {
  height: 100%;
  padding: 40px 0;
  min-height: 100px;
}

.algolia-credits {
  font-size: 0.7em;
  position: relative;
  top: -48px;
  color: #2e2e2e;
  width: 100%;
  text-align: right;
  right: 10px;
}
.algolia-credits img {
  width: 55px;
  top: 2px;
  position: relative;
}
