<a class="theme-chooser" mat-list-item (click)="setTheme(theme.id)" *ngFor="let theme of themes; trackBy: themeId">
  <span title="Primary color" aria-label="theme-chooser ngxtools-palette-primary" class="theme-sample ngxtools-theme-{{theme.id}}__ngxtools-palette-primary-chooser"></span>
  <span title="Accent color" aria-label="theme-chooser ngxtools-palette-acent" class="theme-sample ngxtools-theme-{{theme.id}}__ngxtools-palette-accent-chooser"></span>
  <span title="Warn color" aria-label="theme-chooser ngxtools-palette-warn" class="theme-sample ngxtools-theme-{{theme.id}}__ngxtools-palette-warn-chooser"></span>
</a>