<mat-card
class="mat-elevation-z4"
*ngIf="package"
>
  <span
    [ngClass]="{ 'is-schematic': package.computedMetadata['schematics'] }"
  ></span>
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <img
        #avatarImage
        (error)="onAvatarImageError(avatarImage, avatarIcon)"
        src="{{ package.owner.avatar }}"
        alt="{{ package.owner.name }} "
      />
      <i #avatarIcon class="material-icons">account_circle</i>
    </div>
    <mat-card-title>
      <h1 class="title-header-text">{{ package.name }}</h1>

      <span
        *ngIf="shouldShowVerifiedBadge(package)"
        class="title-badge"
        matTooltip="Official Package"
      >
        <i class="material-icons">verified_user</i>
      </span>
      <span
        *ngIf="shouldShowWarningBadge(package)"
        class="title-badge"
        matTooltip="This package may refer to AngularJS"
      >
        <i class="material-icons">warning</i>
      </span>
      <span
        *ngIf="isDeprecated(package)"
        class="title-badge"
        matTooltip="This package has been deprecated"
      >
        <i class="material-icons">error_outline</i>
      </span>
    </mat-card-title>
    <mat-card-subtitle
      (click)="searchByKeyword(package.owner.name)"
      [innerHtml]="package._highlightResult?.['owner']?.name?.value"
    >
      {{ package.owner.name }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p [innerHTML]="package._highlightResult?.['description']?.value">
      {{ package.description }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button
      *ngIf="!isFullMode"
      mat-button
      (click)="onDetailsRequestClick(package)"
    >
      <i class="material-icons">
        <i class="material-icons">fullscreen</i>
      </i>
    </button>
    <a
      mat-button
      href="{{ package.lastPublisher.link }}"
      target="__blank"
      rel="noopener"
    >
      <i class="material-icons">
        <img width="35" src="assets/npm.png" />
      </i>
    </a>
    <a
      *ngIf="package.repository"
      mat-button
      href="{{ package.repository.url }}"
      target="__blank"
      rel="noopener"
    >
      <i class="material-icons">
        <img width="24" src="assets/GitHub-Mark-32px.png" />
      </i>
    </a>
    <a
      *ngIf="package.repository"
      mat-button
      href="{{ package.repository.url }}/issues"
      target="__blank"
      rel="noopener"
    >
      <i class="material-icons">bug_report</i>
    </a>
    <a
      *ngIf="package.repository"
      mat-button
      href="https://github.dev/{{ package.repository.user }}/{{
        package.repository.project
      }}"
      target="__blank"
      rel="noopener"
    >
      <i class="material-icons">mode_edit</i>
    </a>
    <a
      class="twitter-share-button"
      mat-button
      href="https://twitter.com/intent/tweet?text={{ buildTweetText(package) }}"
      target="__blank"
      rel="noopener"
    >
      <i class="material-icons">share</i>
    </a>
  </mat-card-actions>
  <mat-card-footer>
    <p>
      <span matTooltip="Latest version: {{ package.version }}"
        ><i class="material-icons">label</i>{{ package.version }}</span
      >
      <span
        matTooltip="License {{ package.license || 'N/A' }}"
        class="license__truncate"
        ><i class="material-icons">copyright</i
        >{{ package.license || "N/A" }}</span
      >
      <span
        matTooltip="Downloads for the last 30 days: {{
          package.humanDownloadsLast30Days
        }}"
        ><i class="material-icons">cloud_download</i
        >{{ package.humanDownloadsLast30Days }}</span
      >
      <span matTooltip="Last Update: {{ package.modified | date : 'fullTime' }}"
        ><i class="material-icons">calendar_today</i
        >{{ package.modified | humanDate }}</span
      >
    </p>
    <mat-chip-listbox>
      <mat-chip
        (click)="searchByKeyword(keyword)"
        *ngFor="let keyword of package.keywords"
        >{{ keyword }}</mat-chip
      >
    </mat-chip-listbox>
  </mat-card-footer>
</mat-card>
