mat-card {
  width: 350px;
  margin: 10px 16px;
  display: inline-block;
  text-align: left;
  color: black;
  vertical-align: top;
}

.header-image img {
  width: 40px;
  height: 40px;
  margin: 0px;
}

img[hidden],
i[hidden] {
  display: none;
}

.mat-card-content {
  max-height: 100px;
  min-height: 25px;
  overflow: auto;
}

.mat-card-actions {
  width: 378px;
  margin-left: -24px;
  padding: 7px 10px;
  text-align: center;
  border-width: 1px;
  border-style: groove;
}

mat-card-subtitle {
  cursor: pointer;
}

.is-schematic:after {
  position: absolute;
  padding: 2em;
  background: #C90831;
  content: '';
  margin: -2em;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}

.mat-card {
  overflow: hidden;
}

.mat-card ::ng-deep em {
  font-style: normal;
  font-weight: bold;
  box-shadow: 0px 1px 0px gray;
}

.mat-card-footer {
  padding: 0 8px;
}

.mat-card-footer i {
  font-size: 1.1em;
  top: 1.5px;
  position: relative;
  margin: 0 4px;
}

.mat-card-footer span {
  padding: 0 10px;
  display: inline-block;
}

img + i {
  display: none;
  font-size: 3em;
  margin: -5px;
}

.license__truncate {
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: -4px;
  position: relative;
}

.keywords span {
  display: inline-block;
  border: 1px solid;
  margin: 4px;
  border-radius: 30px;
  padding: 4px 11px;
  cursor: pointer;
  font-size: 10px;
}

@media (min-width: 299px) {
  mat-card.mat-card {
    width: 277px;
  }
  .mat-card-actions {
    width: 309px;
    padding: 4px 0;
    margin-left: -16px;
  }
  .mat-card-actions .mat-button,
  .mat-card-actions .mat-raised-button {
    min-width: 55px;
  }
}

@media (min-width: 500px) {
  mat-card.mat-card {
    width: 440px;
  }
  .mat-card-actions {
    width: 378px;
    margin-left: -16px;
    padding: 7px 47px;
  }
}

@media (min-width: 600px) {
  .mat-card-actions {
    margin-left: -26px;
    padding: 7px 55px;
  }
}

@media (min-width: 900px) {
  mat-card.mat-card {
    width: 370px;
  }
  .mat-card-actions {
    padding: 7px 20px;
  }
}
