mat-card {
  width: 350px;
  margin: 10px 16px;
  display: inline-block;
  text-align: left;
  color: black;
  vertical-align: top;
}

.header-image img {
  width: 40px;
  height: 40px;
  margin: 0px;
}

img[hidden],
i[hidden] {
  display: none;
}

.mat-card-content {
  max-height: 100px;
  min-height: 25px;
  overflow: auto;
}

.mat-card-header-text {
  margin: 0 10px;
}

.mat-card-actions {
  width: 378px;
  margin-left: -24px;
  padding: 7px 10px;
  text-align: center;
}

mat-card-subtitle {
  cursor: pointer;
}

.is-schematic {
  position: absolute;
  padding: 2em;
  top: -40px;
  right: -40px;
  transform: rotate(45deg);
}

.mat-card {
  overflow: hidden;
}

.mat-card ::ng-deep em {
  font-style: normal;
  background: #ffea00;
  border-radius: 4px;
  padding: 0 2px;
  border: 1px solid #e5d303;
}

.mat-card-footer {
  padding: 0 8px;
}

.mat-card-footer i {
  font-size: 1.1em;
  top: 1.5px;
  position: relative;
  margin: 0 4px;
}

.mat-card-footer p {
  display: flex;
  justify-content: space-evenly;
}

img + i {
  display: none;
  font-size: 3em;
  margin: -5px;
}

.license__truncate {
  max-width: 66px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.title-badge {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
}

.title-badge i {
  font-size: 18px;
  top: 2px;
  position: relative;
}


@media (min-width: 299px) {
  mat-card.mat-card {
    width: 346px;
  }
  .mat-card-actions {
    width: 379px;
    padding: 4px 0;
    margin-left: -16px;
  }
  .mat-card-actions .mat-button,
  .mat-card-actions .mat-raised-button {
    min-width: 55px;
  }
}

@media (min-width: 500px) {
  mat-card.mat-card {
    width: 440px;
  }
  .mat-card-actions {
    width: 378px;
    margin-left: -16px;
    padding: 7px 47px;
  }
}

@media (min-width: 600px) {
  .mat-card-actions {
    margin-left: -26px;
    padding: 7px 55px;
  }
}

@media (min-width: 900px) {
  mat-card.mat-card {
    width: 370px;
  }
  .mat-card-actions {
    padding: 7px 20px;
  }
}
