mat-card {
  width: 350px;
  margin: 10px;
  display: inline-block;
  text-align: left;
  background: #fbc87a;
  color: black;
  vertical-align: top;
}

.header-image img {
  width: 40px;
  height: 40px;
  margin: 0px;
  border-radius: 50%;
}

img[hidden],
i[hidden] {
  display: none;
}

.mat-card-content {
  max-height: 100px;
  min-height: 25px;
  overflow-y: scroll;
}

.mat-card-actions {
  background: #f57375;
  width: 378px;
  margin-left: -24px;
  padding: 7px 10px;
}

.mat-card ::ng-deep em {
  font-style: normal;
  font-weight: bold;
  box-shadow: 0px 1px 0px gray;
}

.mat-card-footer {
  padding: 8px;
}

.mat-card-footer i {
  font-size: 1.1em;
  top: 1.5px;
  position: relative;
  margin: 0 4px;
}

.mat-card-footer span {
  padding: 0 10px;
  display: inline-block;
}

img + i {
  display: none;
  font-size: 3em;
  margin: -5px;
  color: #f57375;
}

.license__truncate {
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: -4px;
  position: relative;
}

.keywords span {
  display: inline-block;
  border: 1px solid #fc737a;
  margin: 4px;
  border-radius: 30px;
  padding: 4px 11px;
}
