section {
  max-width: 3740px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  justify-items: center;
  padding-bottom: 80px;
}

app-card {
  width: 100%;
  max-width: 450px;
}

@media (min-width: 600px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 930px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1890px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2380px) {
  section {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2940px) {
  section {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 3400px) {
  section {
    grid-template-columns: repeat(7, 1fr);
  }
}
