:host {
  display: block;
  height: 100vh;
}

section span {
  display: block;
  padding: 10px;
}

main {
  padding-top: 20px;
}

.header__logo {
  background-image: url(/assets/ngx-tools-logo.png);
  display: inline-block;
  width: 152px;
  margin: auto;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 9px;
  z-index: 2;
}

.header__logo:after {
  content: 'beta';
  background: #f57375;
  color: #fae9bc;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 10px;
  position: relative;
  top: 5px;
  right: -89px;
  text-transform: uppercase;
}

mat-toolbar {
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 10px 0;
  position: fixed;
  border-bottom: 5px solid var(--logo-background-color);
  width: 100%;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}

mat-toolbar a {
  font-weight: bold;
  text-decoration: underline;
}

mat-toolbar a img {
  top: 2px;
  display: inline-block;
  position: relative;
}

mat-toolbar.main-footer {
  top: unset;
  bottom: 0;
  justify-content: center;
  border-top: 4px solid var(--logo-background-color);
  border-bottom: unset;
}

mat-sidenav {
  border-right: 6px solid;
  padding: 4px;
}

.button__menu {
  position: absolute;
}

.button__back {
  left: 40px;
  position: absolute;
}

mat-sidenav-container ::ng-deep .mat-drawer-backdrop {
  height: 100%;
  min-width: 100%;
  position: fixed;
}
