section {
}

section span {
  display: block;
  padding: 10px;
}

mat-toolbar {
  text-align: center;
  border-bottom: 5px solid;
}

.header__logo {
  background-image: url(/assets/ngx-tools-logo.png);
  display: inline-block;
  width: 152px;
  margin: auto;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 9px;
  z-index: 2;
}

.header__logo:after {
  content: 'beta';
  background: #f57375;
  color: #fae9bc;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  top: 11px;
  right: -96px;
  text-transform: uppercase;
}

footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  border-top: 4px solid;
  width: 100%;
  font-size: 0.8em;
  background-color: white;
}

footer a {
  font-weight: bold;
  text-decoration: underline;
}

mat-sidenav {
  border-right: 6px solid;
  padding: 4px;
}

.menu_button {
  position: absolute;
}

mat-sidenav-container ::ng-deep .mat-drawer-backdrop {
  height: 100%;
  min-width: 100%;
  position: fixed;
}
