mat-toolbar {
  text-align: center;
  border-bottom: 5px #9dcbb6 solid;
}
.header__logo {
  background-image: url(/assets/ngx-tools-logo.png);
  display: inline-block;
  width: 220px;
  margin: auto;
  height: 105px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10px;
}

.header__logo:after {
  content: 'beta';
  background: #f57375;
  color: #fae9bc;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  top: 11px;
  right: -113px;
  text-transform: uppercase;
}

footer {
  padding: 10px;
  background: #fbc87a;
  color: #f57375;
  position: fixed;
  bottom: 0;
  border-top: 4px solid #9dcbb6;
  width: 100%;
}

footer a {
  color: #f57375;
  font-weight: bold;
  text-decoration: underline;
}
