/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);

:root {
  --logo-background-color: #F9EABC;
  --logo-border-color: #E87A76;
  --logo-drop-shadow-color: #88B099;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  min-height: 100%;
  position: relative;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, var(--logo-border-color), var(--logo-background-color), var(--logo-border-color));
}

// View Transition API

mat-toolbar {
  view-transition-name: mat-toolbar;
  contain: layout;
}

.package-details-readme {
  view-transition-name: package-details-readme;
  contain: layout;
}
::view-transition-old(package-details-readme) {
  animation: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) both slide-up;
}
::view-transition-new(package-details-readme) {
  animation: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) both slide-down;
}

.package-details-wide {
  view-transition-name: package-details-wide;
  contain: layout;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 300ms;
}

@keyframes slide-down {
  from {
    transform: translateY(60px);
  }
}

@keyframes slide-up {
  to {
    transform: translateY(-60px);
  }
}


// dark theme adjustments

.dark-theme a {
  color: #fff;
}

.dark-theme section.search-container {
  background: #303030 !important;
}

.dark-theme input {
  color: #ffffff !important;
}
