/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$themes: (
  ngxtools-theme-0:
    (
      ngxtools-palette-primary: (color: #000, background-color: #8ed6b2, border-color: #8ed6b2),
      ngxtools-palette-warn: (color: #000, background-color: #f9716f, border-color: #f9716f),
      ngxtools-palette-accent: (color: #000, background-color: #fdca6d, border-color: #fdca6d)
    ),
  ngxtools-theme-1:
    (
      ngxtools-palette-primary: (color: #000, background-color: #e8dfe0, border-color: #e8dfe0),
      ngxtools-palette-warn: (color: #fff, background-color: #a147c5, border-color: #a147c5),
      ngxtools-palette-accent: (color: #fff, background-color: #4939ee, border-color: #4939ee)
    ),
  ngxtools-theme-2:
    (
      ngxtools-palette-primary: (color: #000, background-color: #55baad, border-color: #55baad),
      ngxtools-palette-warn: (color: #fff, background-color: #f94c36, border-color: #f94c36),
      ngxtools-palette-accent: (color: #000, background-color: #f4b54e, border-color: #f4b54e)
    ),
  ngxtools-theme-3:
    (
      ngxtools-palette-primary: (color: #fff, background-color: #1e78b1, border-color: #1e78b1),
      ngxtools-palette-warn: (color: #fff, background-color: #18764c, border-color: #18764c),
      ngxtools-palette-accent: (color: #000, background-color: #fccd43, border-color: #fccd43)
    ),
  ngxtools-theme-4:
    (
      ngxtools-palette-primary: (color: #000, background-color: #e0733a, border-color: #e0733a),
      ngxtools-palette-warn: (color: #fff, background-color: #23899c, border-color: #23899c),
      ngxtools-palette-accent: (color: #000, background-color: #6bbabd, border-color: #6bbabd)
    ),
  ngxtools-theme-5:
    (
      ngxtools-palette-primary: (color: #fff, background-color: #c1d8d2, border-color: #c1d8d2),
      ngxtools-palette-warn: (color: #000, background-color: #da7456, border-color: #da7456),
      ngxtools-palette-accent: (color: #000, background-color: #dcaf4f, border-color: #dcaf4f)
    ),
  ngxtools-theme-6:
    (
      ngxtools-palette-primary: (color: #fff, background-color: #218e95, border-color: #218e95),
      ngxtools-palette-warn: (color: #fff, background-color: #df504a, border-color: #df504a),
      ngxtools-palette-accent: (color: #000, background-color: #e7ae39, border-color: #e7ae39)
    ),
  ngxtools-theme-7:
    (
      ngxtools-palette-primary: (color: #000, background-color: #e85b6f, border-color: #e85b6f),
      ngxtools-palette-warn: (color: #000, background-color: #5ac5bf, border-color: #5ac5bf),
      ngxtools-pal8ette-accent: (color: #000, background-color: #e5df56, border-color: #e5df56)
    ),
  ngxtools-theme-8:
    (
      ngxtools-palette-primary: (color: #000, background-color: white, border-color: black),
      ngxtools-palette-warn: (color: #000, background-color: #c4c4c4, border-color: black),
      ngxtools-palette-accent: (color: #000, background-color: white, border-color: white)
    )
);

@each $theme, $colors in $themes {
  @each $color, $map in $colors {
    // ex: .ngxtools-theme-1.ngxtools-palette-primary
    .#{$theme} .#{$color} {
      background-color: map-get($map, background-color);
      transition: background-color 1s;
    }

    // ex: .ngxtools-theme-1 .ngxtools-palette-primary-text
    .#{$theme} .#{$color}-text {
      color: map-get($map, color);
      transition: color 1s;
    }

    // ex: .ngxtools-theme-1 .ngxtools-palette-primary-border
    .#{$theme} .#{$color}-border {
      border-color: map-get($map, border-color);
      transition: border-color 1s;
    }
    
    // ex: .ngxtools-theme-1__ngxtools-palette-primary-chooser
    .#{$theme}__#{$color}-chooser {
      background-color: map-get($map, border-color);
      transition: border-color 1s;
    }
    
    // // ex: body.ngxtools-theme-1.ngxtools-palette-primary-scrollbar
    // body.#{$theme}.#{$color}-scrollbar::-webkit-scrollbar-track {
    //   background: map-get($map, background-color);
    // }
    
    // // ex: body.ngxtools-theme-1.ngxtools-palette-primary-scrollbar
    // body.#{$theme}.#{$color}-scrollbar::-webkit-scrollbar-thumb {
    //   background-color: map-get($map, color);
    //   border-radius: 55px;
    // }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
  min-height: 100%;
  position: relative;
}

.layout__fix-height {
  position: relative;
  height: 100%;
  min-height: 100%;
}

// body::-webkit-scrollbar {
//   width: 1em;
// }